body {
	margin: 0;
	width: 99%;
	height: 100%;
	background-color: rgb(255, 234, 206);
	justify-content: center;
	align-items: center;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 200;
	text-align: center;
	margin-top: 25px;
	margin-top: 15;
}
